/* Basic editor styles */
.tiptapStandard {
  outline: 0;
  border-radius: 40px;
  padding: 16px 32px;
  border-width: var(--ant-line-width);
  border-style: var(--ant-line-type);
  border-color: transparent;
  background: var(--ant-color-fill-tertiary);
  color: var(--ant-color-text);
  position: relative;

  // prevent text from being typed 60px from right edge
  padding-right: 60px;

  &:focus,
  &:active {
    border-color: var(--ant-color-border);
  }

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  p:last-of-type {
    margin: 0;
  }

  .mention {
    background-color: var(--ant-color-primary-active);
    // color: var(--ant-color-
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    display: inline-block;
  }

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

/* Basic editor styles */
.tiptapReadOnly {
  outline: 0;
  border-width: var(--ant-line-width);
  border-style: var(--ant-line-type);
  border-color: transparent;
  color: var(--ant-color-text);
  position: relative;

  p:last-of-type {
    margin: 0;
  }

  .mention {
    // background-color: var(--ant-blue-6);
    // border: 1px solid var(--ant-blue-6);
    // padding: 4px 4px;
    // border-radius: 8px;
    // margin: 0 4px;
    display: inline-block;
    transition: background-color 0.3s ease;
    // max-width: 100px;
    // overflow: clip;
    // text-overflow: ellipsis;
    // white-space: nowrap;

    // text-decoration: underline dashed 3px var(--ant-blue-6);
    color: var(--ant-blue-6);

    &:hover {
      // background-color: var(--ant-blue-6);
      // color: var(--ant-color-fill-base);
      cursor: pointer;

      // max-width: unset;

      text-decoration: underline solid 3px var(--ant-blue-8);
      color: var(--ant-blue-8);
    }
  }

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

// Make it look like a journal with lines, cuter font that looks like handwriting, and a little padding
.tiptapJournal {
  outline: none;
  outline: 0;
  border-radius: 20px;
  padding: 16px 32px;
  border-width: var(--ant-line-width);
  border-style: var(--ant-line-type);
  border-color: transparent;
  background: var(--ant-color-fill-tertiary);
  color: var(--ant-color-text);

  max-height: 400px;
  min-height: 150px;
  overflow-y: auto;

  // prevent text from being typed 60px from right edge
  padding-right: 60px;

  &:focus,
  &:active {
    border-color: var(--ant-color-border);
  }

  p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  p:last-of-type {
    margin: 0;
  }

  .mention {
    background-color: var(--ant-color-primary-active);
    // color: var(--ant-color-
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    display: inline-block;
  }

  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

.systemResponse,
.userResponse {
  font-size: small;
  max-height: unset;
  min-height: unset;
  position: relative;
  overflow: unset;

  &:not(:last-of-type) {
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -20px; // Position the line in the middle of the margin
      width: 3px;
      height: 20px;
    }

    &::before {
      left: 10%;
    }

    &::after {
      right: 10%;
    }
  }

  &.systemResponse {
    &::before {
      background-color: var(--ant-color-info-border);
    }

    // &::after {
    //   background-color: var(--ant-color-info-border);
    // }
  }

  &.userResponse {
    &::before {
      background-color: var(--ant-color-primary-active);
    }

    // &::after {
    //   background-color: var(--ant-color-primary-active);
    // }
  }
}
